{% extends 'first_app/base.html' %} {%load static%}
<!DOCTYPE html>
{% block title %} contactme {% endblock %} {% block content %}

<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row">
        {% if list_services %} {% for ser in list_services %}
        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <i><img  src="{{ ser.services_image.url }}" alt="" style="width: 150px; height: 150px;"></i>
           
              
            </div>
            <h4><a href="">{{ser.services_title}}</a></h4>
            <p>
              {{ser.services_body}}
            </p>
          </div>
        </div>

          {% endfor %} {% endif %}
      </div>
    </div>
  </section>
  <!-- End Services Section -->
</main>
<!-- End #main -->

{% endblock %}
